div {
    width: 400px;
    height: 400px;
    color: white;
    background-image: url(../imges/css-assignment-5-8.png);
    margin: 20px;
    background-color: aliceblue;
}
.assign-3-shape-1 {
    background-repeat: no-repeat;
    
}
.assign-3-shape-2 {
    background-repeat: repeat-y;
    background-position: right top;
}
.assign-3-shape-3 {
    background-repeat: repeat-x;
    background-position: left bottom;
}
.assign-3-shape-4 {
    background-repeat: repeat;
}