.blue {
    background-color: blue;
    left: 20px;
    top: 20px;
    z-index: 5;
}
.black {
    background-color: black;
    left: 20px;
    top: 30px;
}
.green {
    background-color: green;
    left: 30px;
    top: 30px;
    z-index: 6;
}
.red {
    background-color: red;
    left: 40px;
    top: 40px;
    z-index: 7;
}
.black,
.blue,
.green,
.red {
    width: 100px;
    height: 100px;
    position: absolute;
}