.parent {
    width: 800px;
    background-color: #dbd7d7;
}
div {
    background-color: red;
    float: left;
    margin: 15px;
    text-align: center;
    font-weight: bold;
}
.parent .full {
    width: calc(100% - 30px);
}
.parent .first {
    width: calc((100% - 90px)/3);
}
.parent .second {
    width: calc((100% - 60px)/2);
}
.parent .third {
    width: calc((100% - 120px)/4);
}
.full,
.first,
.second,
.third {
    padding: 15px 0px;
    background-color: #EEE;
}

